# F:/Python Apps/LekkerBill_Django_Clean/.gitignore

# Environment variables
.env

# Python
__pycache__/
*.pyc

# Virtual Environment
venv/

# Database
db.sqlite3
*.sqlite3

# Static and Media files collected by Django
staticfiles/
media/

# IDE / Editor specific
.idea/
.vscode/
*.swp